<div class="col-4">
  <div class="card card-outline-warning">  <!-- This will outline all card. But I can outline each section if wanted -->
  	<div class="card-header text-warning text-center">
       <h7>Centre Card</h7>
 	 </div>
    <div class="card-block card-inverse card-warning">
      <%= icon('balance-scale', class: 'fa-5x') %>
    </div>
    <div class="card-footer">
      <a href="#" class="text-warning"> <%= icon('info', "Details") %> </a>
    </div> 
  </div>
</div>