<div class="col-4">

<div class="card card-outline-info"> <!-- This will outline all card. But I can outline each section if wanted -->
  	<div class="card-header text-info text-center">
       <h7>Left Card</h7>
 	 </div>
    <div class="card-block card-inverse card-info">
      <%= icon('id-card-o', class: 'fa-5x') %> 
    </div>

    <div class="card-footer">
      <a href="#" class="text-info"> <%= icon('info', "Details") %> </a>
    </div> 
  </div>
</div>