<div class="col-4">
  <div class="card card-outline-danger">  <!-- This will outline all card. But I can outline each section if wanted -->
	<div class="card-header text-danger text-center">
	   <h7>Right Card</h7>
	</div>
	<div class="card-block card-inverse card-danger">
	   <%= icon('line-chart', class: 'fa-5x') %>
	</div>
	<div class="card-footer">
	   <a href="#" class="text-danger"> <%= icon('info', "Details") %></a>
	</div>  
  </div>
</div>